 
.teamItem {
    width: 241px;
    display: flex;
    align-items: center;
    background: #25283b;
    border-radius: 25px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .teamItem:hover {
    background: #df05e2;
  }
  
  .teamImg {
    padding: 4px;
    margin-right: 10px;
    width: 37px;
  }
  
  .teamText {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }
  