.dialogs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

ul {
  list-style: none;
}

.team{
  display: flex;
  flex-direction: column;
}

.team .active {
  background: #df05e2;
}
 