.post {
    width: 241px;
    display: flex;
    align-items: center;
    background: #25283b;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .post:hover {
    background: #df05e2;
  }
  
  .postImg {
    padding: 4px;
    margin-right: 10px;
    width: 50px; 
    border-radius: 50%;
  }
  
  .postText {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }
  